.loading{
    margin: 0 auto;
    max-width: 100px;
    top: 100px;
    position: relative;

    &__ball{
        border-radius: 100%;
        position: absolute;
        height: 50px;
       

        &2{
            transform: rotate(72deg);
        }
        &3{
            transform: rotate(144deg);
        }
        &4{
            transform: rotate(216deg);
        }
        &5{
            transform: rotate(288deg);
        }
    }

    &__object{
        height: 20px;
        width: 20px;
        background: gray;
        border-radius: 100%;
        margin: 2.5rem;
    }
}